body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A479E2;
    overflow-x: hidden;
}

/* Topbar */

.topbar {
    background-color: #252D5E;
    position: relative;
    align-items: center;
}

.user {
    position: absolute;
    margin-top: -55px;
    margin-left: 94%;
    background-color: lightgray;
    width: 50px;
    border-radius: 50%;
}



/* Botão de Dropdown */
.dropbtn {
    margin-top: 24px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.dropbtn div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.dropdown {
    position: absolute;
    margin-left: 87%;
    margin-top: -90px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.sitename a{
    font-size: 50px;
    text-align: left;
    margin-left: 30px;
    font-family: "Georgia", Times, serif;
    font-style: italic;
}

.sitename a:visited{
    color: black;
}

/* Lista de usuários */

.user-list {
    background-color: #C9C9C9;
    width: 25%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 540px;
    overflow-y: scroll;
}

.user-slot {
    background-color: #E9E9E9;
    margin: 10px 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: #777777;
    text-align: center;
    transition: 0.2s ease;
}

.user-slot:hover {
    background-color: white;
}

.user-pfp {
    background-color: #383838;
    margin-left: -220px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50px;
    border-radius: 50%;
}

.user-name {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    margin-top: -55px;
    margin-left: -75px;
}

.user-latest-msg {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    opacity: 50%;
    margin-top: 5px;
    margin-left: -9px;
    margin-bottom: 20px;
}

.send-msg {
    position: absolute;
    margin-left: 27%;
    margin-top: -75px;
}

.send-msg input {
    font-size: 20px;
    width: 925px;
    padding: 20px;
    background-color: #C3B1E3;
    border-style: none;
    border-radius: 20px;
}

.send-msg button {
    color: #808082;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    font-size: 35px;
    position: absolute;
    margin-left: -75px;
    margin-top: 10px;
}

.messages {
    position: absolute;
    margin-top: -520px;
    margin-left: 27%;
    width: 71%;
    height: 425px;
    overflow-y: scroll;
}

.person-pfp {
    background-color: #383838;
    margin-bottom: 5px;
    width: 50px;
    border-radius: 50%;
}

.message-person {
    margin-bottom: 20px;
}

.message-person div {
    margin-left: 70px;
    margin-top: -53px;
    padding: 10px;
    background-color: #C3B1E1;
    width: fit-content;
}

.message-you {
    margin-bottom: 20px;
}

.message-you div {
    margin-right: 30px;
    margin-top: -15px;
    padding: 10px;
    background-color: #9B3BC0;
    width: fit-content;
    float: right;
}